{{> menu active="about"}}



<section class="ui center aligned middle aligned segment">
  <h1>
    WELCOME TO GEOSURF APP
  </h1>
  <p>
    <br>Sign up and log your own surf spots.
    <br>catagorise surfspots in your own collections e.g Locations or Favourties
    <br>View Collections which will be saved for future logins
    <br> Admin can view stats on App upon Login
    <br> Upload own images to your own collections<br>

    <br>Created by Grace Doyle
  </p>
  <div class="column">
    <img src="/images/surf.jpg">
  </div>
</section>