{{> admin-menu active="admin"}}
<section>
<h1>GeoSurf Admin Dashboard</h1><br>
<div>Total Number of Users in Database : {{users.length}} </div>
<div>Total Number of Collections in Database: {{listAllCollections}} </div>
<div>Total Number of Surfspots in Database: {{listAllSurfspots}} </div><br>
</section>
{{> list-users}}