{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{collection.title}}
    </div>
    {{> list-surfspots}}
    {{> add-surfspot}}
  </div>
  <div class="column">
    {{> collection-image }}
  </div>
</section>