<form class="box" action="/collection/{{collection._id}}/addsurfspot" method="POST">
  <label>Enter Surf Spot Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name of Surf Spot" name="name">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location of SurfSpot" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Type of Wave (Reef/Beach/Point Break/Slab/Aframe)" name="typeOfWave">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Surf Spot</button>
</form>
