 <form action="/dashboard/addcollection" method="POST">
    <div class="field">
      <label class="label">Collection Title</label>
      <input class="input" type="text" placeholder="Enter your Surf Collection title" name="title">
    </div>
    <button class="button is-link">Add Surf Spot Collection</button>
  </form>
